<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
   <acl>
     <resources>
        <resource id="Magento_Backend::admin">
           <resource id="Training_SecondUnit::menu" title="Custom Menu" sortOrder="10" >
              <resource id="Training_SecondUnit::create" title="Create" sortOrder="50" />
              <resource id="Training_SecondUnit::delete" title="Delete" sortOrder="100" />
              <resource id="Training_SecondUnit::view" title="View" sortOrder="150">
                 <resource id="Training_SecondUnit::view_additional" title="View Additional Information" sortOrder="10" />
              </resource>
           </resource>
        </resource>
     </resources>
   </acl>
</config>


<!--
<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::dashboard">
                    <resource id="Training_SecondUnit::exampleparent" title="Example: Parent Resource" sortOrder="100">
                        <resource id="Training_SecondUnit::examplechild" title="Example: Child Resource" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>-->